/* reset */
body,
h2,
h1,
h3,
img,
p,
ul,
li,
section {
  margin: 0;
  padding: 0;
}
/* reset */

h1 {
  padding: 10vw;
}
main {
  text-align: -webkit-center;
}

/*main_background*/
#main_background {
  background-color: #ffff;
  display: block;
  width: 98vw;
  text-align: center;
}
/* fin_main_background*/

/*Bloc_hero*/
#bloc_hero {
  display: flex;
  flex-direction: column;
  width: 98 vw;
  align-items: center;
  position: relative;
}

#bloc_hero_photo {
  display: inline;
  width: 98vw;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
#container_text {
  /* *text-align: start; */
  z-index: 1;
  /*position: absolute;*/
  top: 85%;
  right: 60%;
  background-image: url("./img/avion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 50vw;
  /*background-position: ;*/
}

#container_text h1 {
  text-transform: uppercase;
  font-size: 3vw;
  font-family: "Kdam Thmor Pro", sans-serif;
  opacity: 70%;
  padding-top: 41vw;
  padding-right: 45vw;
  padding-left: 0;
}

#bloc_hero_photo img {
  width: 98vw;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/*Bloc_hero*/

/*Bloc_pays*/
#choisir_pays_background {
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

#pays {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  justify-items: center;
}

#pays div img {
  width: 31.5vw;
  height: auto;
  object-fit: cover;
  font-size: 24px;
}

#image_bloc_1 {
  order: 1;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  font-size: 24px;
}

#image_bloc_2 {
  order: 2;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  font-size: 24px;
}
#image_bloc_3 {
  order: 3;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
  font-size: 24px;
}

#choisir_pays_background h2,
p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 2vw;
}

#choisir_pays_background a {
  text-decoration: none;
  color: black;
}
/*Bloc_pays*/
