* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Tajawal", sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(./img/img_Portugal/mer-pont-elle-entoure-par-ville-coimbra-sous-ciel-nuageux-au-portugal.jpg);
  background-size: cover;
  background-position: center;
}
header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  background: #286394ef;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 0 7%;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .logo {
  font-weight: bolder;
  font-size: 20px;
  color: #B0C4DE;
}
header .navbar ul {
  list-style: none;
}
header .navbar ul li {
  position: relative;
  float: left;
  font-weight: bold;
}
header .navbar ul li a {
  font-size: 14px;
  padding: 15px;
  color: #B0C4DE;
  display: block;
}
header .navbar ul li a:hover {
  background: #B0C4DE;
  color:#154369ef;
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background:#286394ef;
  padding-left: 0em;
  display: none;
}
header .navbar ul li ul li {
  position: relative;
  float: none;
  font-weight: normal;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color:  #B0C4DE;;
  cursor: pointer;
  display: none;
}

@media (max-width: 911px) {
  header {
    padding: 10px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid black;
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li a{
    color: #286394ef;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li a {
    position: relative;
    width: 100%;
    color: #286394ef;
  }

  header .navbar ul li ul {
    background: #286394ef;
    width: 100%;
    left: 0;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }

  header .navbar ul li a:hover {
    background:white;
    color: rgba(156, 156, 235, 0.316);
    display: block;
  }
  header .navbar .nav-links ul li ul {
    position: absolute;
    left: 0;
    width: 100vw;
    /*background: rgba(156, 156, 235, 0.316);*/
    background: white;
    padding-left: 0em;
    /*display: none;*/
  }
}
